<%= render 'sessions/navbarlogin' %>
<%= render 'layouts/massages' %>

<div align="center">
  <div>
    <h1 align="center" style="color:blue; font-family:verdana;">Log in</h1>
  </div>

  <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
    <div class="form-group" align = "center">
      <div class="col-sm-3">
        <%= f.text_field :username, class: "form-control", placeholder: "Enter Username" %>
      </div>
    </div>
    <div class="form-group" align = "center">
      <div class="col-sm-3">
        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
      </div>
    </div>

    <div align="center">
      <%= f.submit("Log in", class: "btn btn-primary") %>
    </div>

    <%= link_to 'Sign Up', signup_path %>
  <% end %>
</div>
