<p>
  HAI <%= @user.username %>
</p>

<p><%= link_to 'List of Vegetables', vegetables_path %></p>
<p><%= link_to 'Pembeli Baru', new_buyer_path %></p>
<p><%= link_to 'Lakukan transaksi', new_transaction_path %></p>
<p><%= link_to 'List of transaction', transactions_path %></p>
<p><%= link_to 'Log Out', logout_path %></p>

