<h1>Create New Buyers</h1>

<%= form_for @buyer do |f| %>
  <div class="form-group">
    <%= f.label :nama %> <br>
    <%= f.text_field :nama, class: "form-control", placeholder: "Masukkan nama" %> <br>
  </div>

  <%= f.label :nohp, "No. Hp" %> <br>
  <%= f.text_field :nohp %> <br>

  <%= f.label :alamat %> <br>
  <%= f.text_field :alamat %> <br>

  <%= f.label :email %> <br>
  <%= f.text_field :email %> <br>

  <%= f.label :facebook %> <br>
  <%= f.text_field(:facebook) %> <br>

  <%= f.label :jeniskelamin, "Jenis Kelamin : " %> <br>
  <%= f.text_field(:jeniskelamin) %> <br>

  <%= f.submit("Submit pembeli") %>

<% end %>