<div align = "center" >
  <h1>List of Buyer</h1>

  <div class="col-sm-8">
    <table class = "table">
      <thead class = "thead-light">
        <tr>
          <th>Nama</th>
          <th>Alamat</th>
          <th>No. Hp</th>
          <th>Action</th>
        </tr>
      </thead>
      <% @buyer.each do |buyer| %>
        <tr>
          <td> <%= buyer.nama %> </td>
          <td> <%= buyer.alamat %> </td>
          <td> <%= buyer.nohp %> </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <%= link_to 'Edit', edit_buyer_path(buyer), class: "dropdown-item"  %>
                <%= link_to 'Destroy', buyer_path(buyer), method: "Destroy", class: "dropdown-item"  %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
