<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="logo" href="#">SelayarSemesta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vegetable
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'List Vegetables', vegetables_path, class: "dropdown-item" %>
          <% if admin? %>
            <%= link_to 'New Vegetable', new_vegetable_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Panen', tambahjumlah_path, class: "dropdown-item"%>
          <% end %>
        </div>
      </li>
      <% if !admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pembeli
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Pembeli Baru', new_buyer_path, class: "dropdown-item" %>
            <%= link_to 'Data Pembeli', buyers_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Transaksi Pembeli', new_transaction_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'List Transaction', transactions_path, class: "nav-link" %>
      </li>
      <% if admin? %>
        <li class="nav-item" >
          <%= link_to 'Create New User', new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav right">
      <li class="nav-item">
        <%= link_to 'Log Out', logout_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>